html {
    height: 100%;
    
}



body {
    padding: 12px 12px 270px;
    background-color: #333333;


}

.title {
    width: 304px;
    height: 53px;
    margin: auto;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fca311;
    justify-content: center;

}

.mention {
    padding: 0% 13% 0% 13%;
    width: 70%;
    height: 30%;
    font-family: "Poppins";
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    color: #fff;
    justify-content: center;
    text-align: center;


}

.border  {
    justify-content: center;
    padding: 10% 10% 10% 10%;
    width: 40%;
    height: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #707070;
    border-style: dashed;
    border-width: 2px;
    border: 10px 10px 10px 10px;
    background-color: #fff;
    
  }

.file-select {
    display: flex;
    justify-content: center;
    text-align: center;
}

input[type=file]{
    width: 70px;
    height: 27px;
    font-size: auto;
    background-color: #fca311;
    border-style: none; 
    color: #fff; 
    font-weight: bold;
    font-style: normal;
    border-radius: 5em;
    font-family: "Poppins";
}

#image_container{
    width: max-content;
    height: max-content;

}

#image_container > img{
    object-fit: scale-down;
    width: 100%;

}

.botton  {
    float: right;
    display: flex;
    width: auto;
    height: auto;
    background-color: #fca311;
    border: 3%;
    border-radius: 3em;
    
  }

input[type=submit]{
    width: 70px;
    height: 27px;
    font-size: auto;
    background-color: #fca311;
    border-style: none; 
    color: #fff; 
    font-weight: bold;
    font-style: normal;
    border-radius: 5em;
    font-family: "Poppins";
}

