html {
    height: 100%;
    
}



body {
    padding: 12px 12px 270px;
    background-color:#313131;

}

.title {
    width: 304px;
    height: 53px;
    margin: 0 5px 48px 107px;
    font-family: SegoeUI;
    font-size: auto;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #707070;

}

.mention {
    width: 10%;
    height: 10%;
    margin: 48px 60px 62px;
    font-family: NanumMyeongjo;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    text-align: center;
    color: #fff;

}

.border  {
    width: auto;
    height: auto;
    margin: 62px 0px 10px 0px;
    padding: 5%;
    border: solid 1px #707070;
    border-style: dashed;
    background-color: #fff;
  }

.file-select {
    display: flex;
    justify-content: center;
}

input[type=file]{

}

#image_container{
    width: max-content;
    height: max-content;

}

#image_container > img{
    width: 100%;
    object-fit: scale-down;
}

.botton  {
    float: right;
    display: flex;
    width: auto;
    height: auto;
    background-color: rgba(88, 86, 93, 0.7);
    border: 3%
  }

input[type=submit]{
    width: 70px;
    height: 27px;
    background-color: rgba(88, 86, 93, 0.7);
    border-style: none; 
    color: #fff; 
    
}

