html {
    height: 100%;
}

body {
    background-color: #333333;
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.logo {
    filter: invert(71%) sepia(18%) saturate(2484%) hue-rotate(348deg) brightness(98%) contrast(102%);
    float: center;
    width: 70px;
    height: 70px;
    padding:0px;
    margin:0px;
    font-size:0px;
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    .logo {
        width: 150px;
        height: 150px;
        display : block;
        margin-left: auto;
        margin-right : auto;
    }
}

.title {
    width: 304px;
    height: 20px;
    margin-bottom: 25px;
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fca311;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.mention {
    max-width: 960px;
    height: 30%;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: medium;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 20px;
}

.notice {
    max-width: 960px;
    height: 30%;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: small;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.17px;
    color: #fff;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 20px;
}

.border {
    justify-content: center;
    padding: 0% 0% 0% 0%;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    /* border: solid 1px #707070; */
    /* border-style: dashed; */
    /* border-width: 2px; */
    border: auto;
    background-color: #fff;
    left: 0;
    right: 0;
}

.image-select {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    vertical-align: middle;
}

input[type='file'] {
    width: 70px;
    height: 27px;
    font-size: auto;
    background-color: #fca311;
    border-style: none;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    border-radius: 5em;
    font-family: 'Poppins';
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    vertical-align: middle;
}

.image-select label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}

#preview {
    max-width: 100%;
    max-height: 100%;
}

.image-select input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.image-select label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 20px;
    margin-left: 10px;
}

.botton {
    float: right;
    display: flex;
    width: auto;
    height: auto;
    background-color: #fca311;
    border: 3%;
    border-radius: 3em;
}

input[type='submit'] {
    width: 100px;
    height: 35px;
    font-size: auto;
    background-color: #fca311;
    border-style: none;
    color: #fff;
    font-weight: bold;
    font-style: normal;
    border-radius: 5em;
    font-family: 'Poppins';
    letter-spacing: 0.1em;
}

#logo {
    position: absolute;
    display: block;
    margin-top: 13%;
    width: 48px;
    height: 48px;
    object-fit: scale-down;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

@media (max-width: 960px) {
    .mention {
        margin-left: auto;
        margin-right: auto;
        padding: 0% 1% 0% 1%;
        font-family: 'Poppins';
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.17px;
        color: #fff;
        justify-content: center;
        font-size: medium;
        font-weight: normal;
    }

    #logo {
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        object-fit: scale-down;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    input[type='submit'] {
        width: 80px;
        height: 27px;
        font-size: auto;
        background-color: #fca311;
        border-style: none;
        color: #fff;
        font-weight: bold;
        font-style: normal;
        border-radius: 5em;
        font-family: 'Poppins';
        letter-spacing: 0.1em;
    }
}